h3 {
    margin-left: 150px;
}

#time {
    font-size: 60px;
    font-weight: bold;
    margin: 50px 0 -10px 50px;
    color: #fff;
}

.hms {
    margin-left: 75px;
    color: #fff;
} 

.hms span{
    margin: 0 135px 0 80px;
}

.btn {
    margin-left: 40px;
    margin-top: 30px;
}

button {
    border: 0;
    background-color: #ffaa14;
    font-size: 24px;
    font-weight: bold;
    height: 100px;
    box-shadow: 0 10px #ee7030;
    margin-right: 15px;
    border-radius: 30px 30px;
}


button:active {
    position: relative;
    top: 10px;
    box-shadow: none;
}

button:hover {
    cursor: pointer;
}

#reset {
    color: red;
}

.watch {
    width: 450px;
    height: 110px;
    background-color: #000;
}
